img {
    width: 512px;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rec-list {
    font-size: 30px;
}

.content-wrap {
    display: block;
    margin: 0 auto;
    width: 60vw;
    border: 3px solid black;
    border-top: none;
    border-bottom: none;
    padding: 1vw;
}

body {
    padding: 0;
}

h1 {
width: fit-content;
padding: 7px;
margin: 0 auto;
border-radius: 30px;
border: 3px solid black;
text-align: center;
}

#odin-logo {
    display: inline;
    width: 48px;
    height: auto;
    vertical-align: middle; 
}

.list-item {
    display: inline-block;
    padding: 7px;
    margin-bottom: 5px;
    width: fit-content;
    height: auto;
    border-radius: 30px;
    border: 3px solid black;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.li-img {
width: 48px;
height: 48px;
border-radius: 50%;
display: inline;
border: 1px solid black;
vertical-align: middle;
margin-right: 0.25em;
}

.list-item:hover, .nav-button:hover{
    color: white;
    background-color: rgba(243, 47, 47, 0.534);
}

#intro {
    text-align: center;
    width: 40vw;
    display: block;
    margin: 0 auto;
}

.dish-image {
    border: 1px solid black;
    border-radius: 30px;
    margin: 30px auto;
}

.nav-button {
    text-decoration: none;
    color: black;
    border: 3px solid black;
    font-weight: bold;
    border-radius: 30px;
    padding: 5px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .content-wrap {
        width: 100vw;
        border: none;
        margin: none;
        padding: auto;
    }
    img {
        border: 1px solid black;
        border-radius: 30px;
        margin: 5px auto;
        width: 60vw;
    }
    #intro {
        width: 80vw;
        font-weight: normal;
    }
    #ua_logo {
        margin: 15px auto;
    }
}